/* Footer Styles */
footer {
  padding: 15px 0;  /* Yüksekliği azaltmak için padding'i küçültüyoruz */
  text-align: center;
  background-color: #333;
  color: white;
}

/* Features Section */
.features-section {
  padding: 30px 20px;  /* Padding'i azaltıyoruz */
  text-align: center;
  background-color: #6d4c41;
}



.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.feature-item {
  text-align: center;
  max-width: 280px;  /* Genişliği daraltıyoruz */
  color: wheat;
}

.feature-item img {
  width: 40px;  /* İmg boyutunu küçültüyoruz */
  height: 40px;
  margin-bottom: 15px;  /* Alt boşluğu azaltıyoruz */
}

.feature-item h3 {
  font-size: 20px;  /* Başlık boyutunu küçültüyoruz */
  margin-bottom: 10px;  /* Alt boşluğu azaltıyoruz */
}

.feature-item p {
  font-size: 14px;  /* Metin boyutunu küçültüyoruz */
  color: whitesmoke;
}
